<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/cssExterno/animate.css" />
    <include path="~/Content/cssExterno/aos.css" />
    <include path="~/Content/cssExterno/bootstrap-datepicker.css" />
    <include path="~/Content/cssExterno/bootstrap.min.css" />
    <include path="~/Content/cssExterno/flaticon.css" />
    <include path="~/Content/cssExterno/icomoon.css" />
    <include path="~/Content/cssExterno/ionicons.min.css" />
    <include path="~/Content/cssExterno/jquery.timepicker.css" />
    <include path="~/Content/cssExterno/magnific-popup.css" />
    <include path="~/Content/cssExterno/open-iconic-bootstrap.min.css" />
    <include path="~/Content/cssExterno/owl.carousel.min.css" />
    <include path="~/Content/cssExterno/owl.theme.default.min.css" />
    <include path="~/Content/cssExterno/style.css" />
    <include path="~/Content/cssExterno/bootstrap/bootstrap-grid.css" />
    <include path="~/Content/cssExterno/bootstrap/bootstrap-reboot.css" />
    <include path="~/Content/cssExterno/css/mixins/_text-hide.css" />
    <include path="~/Content/cssExterno/css/bootstrap-reboot.css" />
  </styleBundle>
</bundles>